{% extends 'Base.html' %}

{% block title %}
Add Question
{%endblock%}

{% block content %}

<div class="col-sm-9">
    <div class="row">
        <div class="col-md-4 mb-2">
            <div class="card">
                <img src="{{data.course.img}}" alt="">
                <div class="card-body">
                    <div class="card-title">
                        {{data.course.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-2">  
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        Thêm câu hỏi
                    </div>
                    <div class="card-text">
                        <form method="post">
                            <div class="form-group mb-2">
                                <label for="topic">Chủ đề:</label>
                                <select name="topic" class="form-control" id="topic">
                                    <option value="CNTT">CNTT</option>
                                </select>
                            </div>
                            <div class="form-group mb-2">
                                <label for="title">Tiêu đề</label>
                                <input type="text" class="form-control" name="title" id="title" autofocus="true" required>
                            </div>
                            
                            <div class="form-group mb-2">
                                <label for="ans">Đáp án</label>
                                <!-- <input type="text" class="form-control" name="ans" id="ans"> -->
                                <input type="text" class="form-control" placeholder="Ans1, ans2,..." id="ans" name="ans" required>
                            </div>
                            <input type="submit" value="Add" class="btn btn-primary btn-sm">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% for ques in data.questions: %}
            <div class="col-md-4 mb-2">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            Câu hỏi {{ loop.index}}:
                        </div>
                        <div class="card-text">
                            <form method="post">
                                <div class="form-group mb-2">
                                    <label>Chủ đề:</label>
                                    <select class="form-control" disabled>
                                        <option>{{ques.topic}}</option>
                                    </select>
                                </div>
                                <div class="form-group mb-2">
                                    <label>Tiêu đề:</label>
                                    <p>
                                        <strong>
                                            {{ques.title}}
                                        </strong>
                                    </p>
                                </div>
                                
                                <div class="form-group mb-2">
                                    <label>Đáp án</label>
                                    <p>
                                        <strong>
                                            {{ques.answers}}
                                        </strong>
                                    </p>
                                    
                                </div>
                                <button type="button" class="btn btn-sm btn-outline-danger" id="Q{{ques.id}}C{{ques.cid}}" data-bs-toggle="modal" data-bs-target="#deletebox">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        {%endfor%}
    </div>
</div>
<div class="col-sm-3">
    <div class="list-group">
        <button class="list-group-item">Data discrete</button>
    </div>
</div>
{% include 'DeleteDialog.html' %}
{% endblock %}