{% extends 'Base.html' %}
{% block title %}
{{title}}
{% endblock %}

{% block content %}
<div class="col-sm-4">
    <form method="post">
        <div class="form-group mb-3">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" value="{{data.tag.name}}" autofocus>
        </div>
        <div class="form-group mb-3">
            <label for="root">Tag father:</label>
            <select class="form-control" name="root" id="root">
                <option value="root">root</option>
                {% for tag in data.tags %}
                <option value="{{tag.id}}" {% if tag.id == data.tag.id %}selected{% endif %}>{{tag.name}}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" class="btn btn-primary" value="Add">
    </form>
</div>
{% endblock %}