{% extends 'Base.html' %}
{% block title %}
{{title}}
{% endblock %}

{% block content %}
<div class="col-sm-4">
    <form method="post" class="mb-3">
        <div class="form-group mb-3">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" value="{{data.tag.name}}" autofocus>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
    {% for tag in data.tags %}
    <a href="/tags/edit/{{tag.id}}" class="badge text-bg-secondary text-decoration-none" title="Click to edit">
        {{tag.name}}
    </a>
    {% endfor %}
</div>
{% endblock %}