{% extends 'Base.html' %}

{% block content %}
{% for course in data['courses'] %}

<div class="col-md-3 mb-3">
    <div class="card">
        <img src="{{course.img}}" alt="">
        <div class="card-body">
            <a href="/courses/view/{{course.id}}" class="card-title">{{course.name}}</a>
        </div>
        <div class="card-footer">
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletebox" id="C{{course.id}}">Delete</button>
        </div>
    </div>
</div>

{%endfor%}
{% include 'DeleteDialog.html' %}
{% endblock %}